// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
	@include shadow1;
	border: 0;
	outline: 0;
	padding: 12px 35px;
	color: inherit;
	background-color: light-theme--clr(element);
	cursor: pointer;
	&--icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap: 6px;
	}
	&__icon {
		display: grid;
	}
	&__text {
		margin: 0;
		font-size: font-size(l);
	}
}
