// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
	@extend %btn;
	padding: 12px 35px;
	&--icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap: 6px;
	}
	&__icon {
		display: grid;
	}
	&__text {
		margin: 0;
		font-size: font-size(l);
	}
}
