// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container {
  max-width: $max-width; /* 1 */
 width: 90%;
 margin: 0 auto;
 }
